<form class="item-container" action='/remove-item/{{id}}' method='post'>
  <div class="item-info">
    <p>{{name}}</p>
    <p>Fee: <span>${{amount}}</span>
    </p>
  </div>
  <button type='submit'>Remove</button>
</form>