<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Elite Fitness</title>
    <link rel='stylesheet' href='/styles/styles.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <header>
      <h1><a class="logo" href='/'>Elite Fitness</a></h1>
      <nav>
        <ul>
          <li><a href='/classes'>Classes</a></li>
          <li><a href='/cart'>My Cart</a></li>
          {{#if isLoggedIn}}
            <form action='/logout' method='post'>
              <li><button class='log-link' type='submit'>Logout</button></li>
            </form>
          {{else}}
            <form action='/' method='get'>
              <li><button class='log-link' type='submit'>Login</button></li>
            </form>
          {{/if}}
        </ul>
      </nav>
    </header>
    {{{body}}}

    <footer>
      <p>Created by Vinh Nhan 2023</p>

    </footer>
  </body>
</html>